<div class="BreadCrump">
    <div class="content">
        <h2>Nos Services</h2>
        <p>Nous réalisons tous vos travaux de peinture – mur, plafond, sol – avec des artisans qualifiés et des
            peintures éco-labellisées Tollens ou Zolpan.</p>
    </div>
</div>

<div class="contentServices">
    <div class="row">
        <div class="col-sm-7">
            <div class="services">
                <h5>Peinture sur murs</h5>
                <p>Nous peignons vos murs de votre intérieur, qu’il s’agisse d’un rafraîchissement en blanc ou de belles
                    couleurs. Dès 15€ /m².</p>
            </div>


            <div class="services">
                <h5>Peinture plafond</h5>
                <p>Votre plafond a besoin d’un rafraîchissement ? Nous pouvons effectuer les travaux de peinture sur vos
                    plafonds et les travaux nécessaires à sa préparation. Dès 15€ /m².</p>
            </div>


            <div class="services">
                <h5>Préparation supports</h5>
                <p>
                    Vos murs sont fissurés, cloqués, entoilés, etc. ? Nous réalisons tout le travail de préparation /
                    enduit
                    nécessaire avant de pouvoir les repeindre. Dès 10€ / m²
                </p>
            </div>

        </div>
        <div class="col-sm-5">
            <img src="/assets/images/home/about.jpg" />
        </div>
    </div>
</div>


<div class="papier">
    <div class="containerPapier">
        <div class="row">

            <div class="col-sm-7">

                <div class="services">
                    <h5>Papier peint</h5>
                    <p>Vous souhaitez poser ou déposer du papier peint ? Nous nous occupons de tout, pour un résultat parfait, quelle que soit la marque que vous choisissez. Dès 299€ TTC/ mur (forfait).</p>
                </div>

                <div class="services">
                    <h5>Peinture sol</h5>
                    <p>Envie de repeindre vos sols ? Nous effectuons vos travaux de peinture de sols intérieurs et extérieurs dès 18€/ m².</p>
                </div>




                <div class="services">
                    <h5>Dégât des eaux</h5>
                    <p>Vos murs ou plafonds ont été impactés par un dégât des eaux ? Nous émettons un devis à envoyer à votre assurance et réalisons les devis une fois qu’il est validé. Dès 35€ / m².</p>
                </div>



            </div>

            <div class="col-sm-5">
                <img src="/assets/images/services/servicepeinture.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="pouquoiClass">
<div class="container">
    <div class="row">

        <div class="col-sm-3">
            <img src="/assets/images/pq/icones-BZD1-01.png" />
            <h4>Pratique</h4>
            <p>
                Devis en ligne<br>
                Démarrage sous 48h<br>
                Interlocuteur unique
            </p>
        </div>
        
        <div class="col-sm-3">
            <img src="/assets/images/pq/icones-BZD-4-01.png" />
            <h4>Professionel</h4>
            <p>
                Peintres professionnels uniquement<br>
                Chantier propre et soigné<br>
                Suivi de chantier efficace
            </p>
        </div>

        <div class="col-sm-3">
            <img src="/assets/images/pq/icones-BZD7-01.png" />
            <h4>Pratique</h4>
            <p>
                Peintres 100% déclarés et en règle<br>
                Peinture écolo (A+) et non nocive<br>
                Recyclage des déchets et pots
            </p>
        </div>


        <div class="col-sm-3">
            <img src="/assets/images/pq/icones-BZD3-01.png" />
            <h4>Economique</h4>
            <p>
                Super rapport qualité / prix<br>
                Devis clair et précis<br>
                Sans mauvaise surprise ou surcoût
            </p>
        </div>


    </div>
</div>
</div>