/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Teko&display=swap');

body{
    background: #ececec;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
        font-family: 'Teko', sans-serif;
}