<div class="home">
    <div class="contentHome">
        <h6>BZ RENOVATION DECORATION , ENTREPRISE DE PEINTURE ET RÉNOVATION</h6>
        <h2>Les petits détails font la différence</h2>
        <a class="nav-link demandDevis" aria-current="page" routerLink="/devis" routerLinkActive="activeDevis">
            Estimer mon projet
        </a>
    </div>
</div>


<div class="container chemin">
    <div class="row">
        <h2>Le chemin le plus court vers des travaux réussis</h2>

        <div class="col-sm-4">
            <img src="/assets/images/home/icons/BZ RENOVATION DECORATION -contour_bleu_24h.png" />
            <p>Une envie, un devis, c’est parti</p>
            <p>
                Vous êtes prêt à passer au concret ? 
                Parlez-nous de votre projet. Nous vous proposons un devis limpide. Nous démarrons dans 24h.
            </p>
        </div>

        <div class="col-sm-4">
            <img src="/assets/images/home/icons/BZ RENOVATION DECORATION -contour_bleu_casque.png" />
            <p>A chaque chantier son chef</p>            
            <p>
                Le “meilleur artisan” n’existe pas. Le plus qualifié pour votre projet, si. Chez Monsieur Peinture, 
                nous le connaissons, et même très bien, pour que vous n’ayez jamais à essuyer les plâtres.
            </p>
        </div>

        <div class="col-sm-4">
            <img src="/assets/images/home/icons/BZ RENOVATION DECORATION -contour_bleu_bulles.png" />
            <p>A vos côtés pour ne rien laisser dépasser</p>
            <p>
                Sur toute la durée du projet vous pouvez compter sur votre Chef de Projet. 
                Toujours à vos côtés, il assure que tout roule droit.
            </p>
        </div>
    </div>

</div>


<div class="container-fluid about">

    <div class="row">
        <div class="col-sm-6 abouttxt">
            <h3>Qui sommes-nous</h3>
            <h6>L'excellence sinon rien</h6>

            <p>
                En tant que Entreprise général, sur l'agglomération grenobloise. Je fournis à mes clients une large
                éventail
                de services pour tous leurs besoins en rénovation et réparation. Que vous cherchiez à rénover votre
                espace
                existant ou à y ajouter une extension, je suis heureux de vous aider à atteindre
                les résultats que vous cherchez. Contactez-moi dès aujourd'hui et obtenez un devis gratuit

            </p>
        </div>
        <div class="col-sm-6 aboutback">
            <img src="/assets/images/home/about.jpg" />
        </div>
    </div>

</div>